<h1>Tic Tac Toe</h1>
<p>game : <%= session[:game].inspect %></p>
<p>current_player : <%= session[:game][:current_player]%></p>
<p>board :<%= session[:game][:board].inspect %></p>

<%= form_tag({ controller: 'tic_tac_toe', action: 'update_names' }, method: 'post') do %>
  <label>Update Player 1 Name:</label>
  <%= text_field_tag 'new_player1_name', session[:game][:player1][:name] %>
  <br>

  <label>Update Player 2 Name:</label>
  <%= text_field_tag 'new_player2_name', session[:game][:player2][:name] %>
  <br>

  <%= button_tag 'Update Names', type: 'submit' %>
<% end %>



<%= link_to 'New Game', tic_tac_toe_new_game_path, method: :get, class: 'btn btn-primary', data: { confirm: 'Are you sure?' } %>


